     <!-- Baby Bets Section -->
     <section id="baby-bets" class="content-section text-center">
        <div class="baby-bets-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Baby Bets</h2>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfdC0oLLfSZtVrZHOUWDWaaL5kX1aMeGT5oamjkcn4bjXpXow/viewform?embedded=true" width="640" height="1650" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </section>