    <!-- Cocktail Section -->
    <section id="cocktail" class="content-section text-center">
        <div class="cocktail-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Cran-baby Sparkler</h2> 
                    <p>To celebrate, we'll be enjoying this refreshing signature cocktail at the event. </br>
                    Gather these ingredients in advance so we can all be sipping on the same thing together! </p>    
    
                    <div class = "recipe">
                    <a href  = "https://cocktails.lovetoknow.com/Alcohol_Free_Cocktails"> 
                        <img class = "cocktail-photo" src="img/cranberry-sparkler.jpg" alt="Cranberry Sparkler"> </a>

                       <ul>
                           <b>INGREDIENTS</b>
                           <li>Ice </li>
                           <li>6 ounces of cranberry juice</li>
                           <li>Juice of one lime</li>
                           <li>2 ounces sparkling water</li>
                           <li>Orange wedge for garnish</li>
                       </ul>

                       <ol>
                           <b>DIRECTIONS</b>
                           <li>Fill a highball glass with crushed ice. </li>
                           <li>Add the lime juice and cranberry juice.</li>
                           <li>Top with sparkling water and add an orange wedge for garnish.</li>
                           <li>Optional: Spike with gin, vodka, or your favorite type of alcohol.</li>
                       </ol>
                    </div>
                </div>
    </section>